<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hike it!</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container col-lg" id="about-page-image">
    <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd">
      <span class="navbar">Hike It!</span>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <button id="user-logout" type="log-out" class="btn btn-dark"> Log out</button>
    </nav>
<br>

    <div>
      <div class="jumbotron">
        <h1 class="display-4">Hike It!</h1>
        <p class="lead">Hike it is designed to help you find new adventures and share your journey with others. Find new
          trails, explore them, and tell the world about your experiences.</p>
        <hr class="my-4">
        <p>Hike it was created by CRUD-the-sql, a group of bootcamp students at the Vanderbilt Coding Bootcamp: Full
          Stack Web Development</p>

      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/script.js"></script>
  <script src="/path/to/handlebars.min.js"></script>
</body>

</html>