<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hike it!</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container col-lg" id="dashboard-info-background">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar">Hike It!</span>
            <button id="existing-user-login" type="log-in" class="btn btn-dark"> Log in</button>
        </nav>
        
<!-- <h2 id= "slogan"> Find your new adventure</h2> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../public/assets/js/trails.js"></script>
</body>

</html>