<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hike it!</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container col-lg" id="search-background">
        <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd">
            <span class="navbar">Hike It!</span>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <button id="user-logout" type="log-out" class="btn btn-dark"> Log out</button>
        </nav>

        <div id="form-body">
            <div id="form-container">
                <div id="email-signup">
                    <form>

                        <div class="form-group">
                            <label for="searchInput">Search for a trail</label>

                            <input type="searchBox" class="form-control form-control-sm " id="trailSearch"
                                aria-describedby="trailSearch" placeholder="Search for a trail">

                        </div>

                        <button type="submit" id="search" class="btn btn-primary btn-dark">Search</button>
                        <br>
                        <h5> Or </h5>

                        <button id="new-trail-redirect" type="trail-add" class="btn btn-dark"> Add new Trail</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/path/to/handlebars.min.js"></script>
</body>

</html>