<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hike it!</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container container-fluid col-lg" id="profile-page-image">
        <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd">
            <span class="navbar">Hike It!</span>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <button id="user-logout" type="log-out" class="btn btn-dark"> Log out</button>
        </nav>
        <div id="form-body">

        </div>
        <div class="container-fluid  overflow-auto" id="profile-page-container">
            <div class="row">
                <div class="col">

                    <div class="card">
                        <img src="https://images.pexels.com/photos/1266021/pexels-photo-1266021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Dora</h5>
                            <p class="card-text">Hello my name is Dora the Explorer, I love hiking and going on
                                adventures with my woodsy friends. My dream is to be able to hike the entire Appalachian
                                trail!
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Username: PurpleDora</li>
                                <li class="list-group-item">First Name: Dora</li>
                                <li class="list-group-item">Last Name: D'Explorer</li>
                            </ul>
                        </div>

                        <!-- <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div> -->
                    </div>
                    <br>
                    <button class="btn btn-dark"> My trails</button>
                </div>
                <div class="col">
                    <div class="list-group ">
                        <a href="#" class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">"The Yogi Master" Joseph J. Front, Class of 1992</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">On the days leading up to our arrival in Damascus, VA., we had been quoting
                                funny lines from various Monty Python movies. As is common when approaching a town, we
                                dreamed about arriving to a "luxurious" hostel and watching some Monty Python movies.
                                The reality when we arrived was that there was no TV or VCR. After settling in, I set
                                off to explore the town and naturally stopped in at the outfitter store. Inside I met
                                the owner "Damascus Dave", who ran a television repair business in the back. </p>
                            <small>2019</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">"The Old Gray Goose" Kay Cutshall AT 2000 miler, 92->93:</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">In 1992 when I was preparing for my "thru-hike" I decided to use "The Old
                                Gray Goose" as my trail name. To begin with I was no "spring chicken" at the age of 52
                                and at the time my f-i-l had an old gray truck that was pretty much falling apart at the
                                seams. He would drive down the old country road with it's fenders flapping, it just kept
                                going and going, and our kids called it the old gray goose. I hoped I would be like that
                                old truck and overcome problems along the way and just keep on going !
                                I didn't quite make it an all in one season thru-hike although I do call it my
                                "2-section thru-hike". These many years later, I am still known as The Old Gray Goose.
                            </p>
                            <small class="text-muted">2019</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">"Bilko" Mary Walsh: - Master Sergeant Ernie Bilko was a television
                                    character in the 60's.</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Played by Phil Silvers, Bilko was a conning friendly hustler that worked in
                                the Army. He spend most of his time trying to figure out how to make a quick buck. In
                                the 90's Steve Martin played the role of Ernie Bilko in a feature film. Both characters
                                often replied to questions about their success in conning and hustling others with
                                "That's why they call me, Master Sergeant."
                                I'm a retired Master Sergeant from the Air Force.
                                After retiring from the Air Force, I worked in a Catholic School as an Assistant
                                Principal, my boss, a nun, called to question my ability to get things done in
                                unconventional ways. I replied "Sister, that's why they call me, Master Sergeant." Her
                                reply was "OK Bilko, how did you do it?" It stuck with me. Later while we discussed my
                                hiking experiences, hiking goals and the need of a trail name, she suggested 'Bilko'. I
                                was named by a Catholic nun. It was the only logical choice.
                            </p>
                            <small class="text-muted">2019</small>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <h2 id= "slogan"> Find your new adventure</h2> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../public/assets/js/trails.js"></script>
</body>

</html>