<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hike it!</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
</head>
<body>
		{{{ body }}}
​
	{{!-- Add in jQuery --}}
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!-- <script src="../../public/assets/js/trails.js"></script> --}}
    {{!-- <script src="/path/to/handlebars.min.js"></script> --}}
	</body>
</html>



