<div class="container col-lg" id="add-trail-background">
        <nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd">
            <span class="navbar">Hike It!</span>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" id = "user-profile" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id = "user-search" href="#">Search</a>

                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <button id="user-logout" type="log-out" class="btn btn-dark"> About</button>
        </nav>
        <div id="form-body">
            <div id="form-container">
                <div id="email-signup">
                    <form>
                        <h2>Add New Trail</h2>

                        <div class="form-group">
                            <label for="trailNameInput">Trail Name</label>
                            <input type="trailNameInput" class="form-control form-control-sm " id="trailNameInput"
                                aria-describedby="trailNameInput" placeholder="Enter Trail Name">
                            <div class="form-group">
                                <label for="trailLength">Approximate Length</label>
                                <input type="trailLength" class=" form-control form-control-sm" id="trailLength"
                                    placeholder="Enter Approximate Length in Miles">
                            </div>

                            <label for="difficultyRating">Difficulty Rating</label>
                            <input type="difficultyRating" class=" form-control form-control-sm" id="difficultyRating"
                                placeholder="Difficulty Rating">
                            <div class="form-group">

                                <label for="Location">Trail Address</label>
                                <input type="Location" class=" form-control form-control-sm" id="trailAddress"
                                    placeholder="Enter Trail Address">
                            </div>
                              <div class="form-group">
                                <label for="Location">Trail City</label>
                                <input type="Location" class=" form-control form-control-sm" id="trailCity"
                                    placeholder="Enter Trail City">
                            </div>
                              <div class="form-group">
                                <label for="Location">Trail State</label>
                                <input type="Location" class=" form-control form-control-sm" id="trailState"
                                    placeholder="Enter Trail State">
                            </div>
                            {{!-- <button type="upload" class="btn btn-primary btn-dark">Upload Photo</button> --}}
                            <button class="btn btn-primary btn-dark" id="submit-new-trail">Submit</button>
                            {{!-- <p id="success-add" style="font-size:16px; color:green">
                                
                            </p> --}}
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>