body {
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 1.5vw;
}

#image-container {
    background: url(../images/hiking-stock-photo.jpeg);
    background-position: center;
    padding: 1%;
    height: 100vh;
    object-fit: cover;
    background-attachment: fixed;

}

#nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 3vh;
}

#form-container {
    margin: 5%;
    padding: 5%;
}

#form-body {
    width: 70vh;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}